[package]
name = "{{package_name}}"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
publish = false
description = "{{package_description}}"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
soroban-sdk = "25.0.0"

[dev-dependencies]
soroban-sdk = { version = "25.0.0", features = ["testutils"] }

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true
strip = "symbols"
